In [16]:
#import dependencies 
import pandas as pd
from collections import Counter
import numpy as np
import datetime
import time
import csv

In [17]:
#CSV to Pandas DF
debate = pd.read_csv('Resources/debate_transcripts.csv', encoding= 'unicode_escape')

debate.head()

,debate_name,debate_section,speaker,speech,speaking_time_seconds
0,New Hampshire Democratic Debate Transcript,Part 1,George S.,"Candidates, welcome. Vice President Biden, the...",18.0
1,New Hampshire Democratic Debate Transcript,Part 1,Joe Biden,"Oh, they didnt miss anything. Its a long rac...",36.0
2,New Hampshire Democratic Debate Transcript,Part 1,George S.,Why are Senator Sanders and Mayor Buttigieg to...,4.0
3,New Hampshire Democratic Debate Transcript,Part 1,Joe Biden,"Well, you know that with regard to Senator San...",41.0
4,New Hampshire Democratic Debate Transcript,Part 1,George S.,"Senator Sanders, let me give you the chance to...",21.0

In [18]:
#filter for new hampshire debate, candidates only

candidate_names = ['Joe Biden', 'Bernie Sanders', 'Andrew Yang', 'Pete Buttigieg', 'Elizabeth Warren', 'Amy Klobuchar', 'Tom Steyer']

new_hamp = debate[debate['debate_name'] == 'New Hampshire Democratic Debate Transcript']
clean_df = new_hamp[new_hamp['speaker'].isin(candidate_names)]

#clean
clean_df = clean_df.drop(columns = ['debate_section', 'debate_name', 'speech'])
clean_df = clean_df.rename(columns={'speaker': 'candidate', 'speaking_time_seconds': 'speech_length'})

clean_df.head()

        candidate  speech_length
1       Joe Biden           36.0
3       Joe Biden           41.0
5  Bernie Sanders           41.0
6  Bernie Sanders           39.0
8  Bernie Sanders           23.0

In [19]:
for i, row in clean_df.iterrows():
    last_name = clean_df.at[i,'candidate'].split(" ")[-1]
    clean_df.at[i,'candidate'] = last_name

In [20]:
clean_df.head()

  candidate  speech_length
1     Biden           36.0
3     Biden           41.0
5   Sanders           41.0
6   Sanders           39.0
8   Sanders           23.0

In [26]:
#get total second count for each candidate
sum_df = clean_df.groupby(['candidate']).agg({'speech_length': 'sum'})
sum_df['candidate_id'] = [1,2,3,4,5,6,7]
sum_df = sum_df.reset_index()
sum_df = sum_df.set_index(['candidate_id', 'candidate'])
sum_df.head()

                        speech_length
candidate_id candidate
1            Biden             1188.0
2            Buttigieg         1102.0
3            Klobuchar          992.0
4            Sanders           1209.0
5            Steyer             832.0

In [ ]:
sum_df.to_csv('Final/seconds_count.csv', encoding='utf-8')